{% extends "_base.html" %}
{% block content %}
  <div id = 'roundinfo' class = 'centerpadded-small bottom-margin'>
  <h1>Round #{{match.id}}</h1>
    <h2 id = 'mode'>{{match.modes_string}} on {{match.mapname}}</h2>
    {% if match.data_version | float >= 1.1 %}
      <h3>{{match.date.strftime('%B %d %Y')}}</h3>
      <p>Lasted {{match.duration()}} minutes (from {{match.starttime|format_timestamp('shortmatchtime')}} to {{match.endtime|format_timestamp('shortmatchtime')}})</p>
    {% elif match.date %}
      <h3>Match date: {{match.date.strftime('%B %d %Y')}}</h3>
    {% endif %}
    <p>Player deaths: {{match.player_deaths().count()}} Non-player deaths: {{match.nonplayer_deaths().count()}}</p>
  </div>
  <div class = 'centerpadded'>
    <div class = 'gridcontainer'>
      <div id = 'deaths' class = 'gridhalf'>
        <h3>Deaths</h3>
        {%- for death in match.player_deaths() -%}
          <div class = 'matchdeath'>
            {% if death.mindkey -%}
              {{death.mindkey}} as
            {% endif -%}
            {{death.mindname}}
            {% if death.last_assailant -%}
            <span class = 'lassailant'>Last assailant is {{death.last_assailant}}</span>
            {% endif -%}
          </div>
        {% endfor %}
      </div>
      <div id = 'antags' class = 'gridhalf'>
        <h3>Antag objectives:</h3>
      {% for antag in match.get_antags() -%}
        <div class = 'antag'>
          <div id ='player'><span id = 'key'>{{antag.key}}</span><span id ='name'> as {{antag.name}}</span></div>
          <div id = 'actor'>{{antag.role}}</div>
          <ol>
          {% for objective in match.objs_for_antag(antag.key) -%}
              <li class = 'objective'>
              {{objective | obj_pretty}} {{ objective.objective_succeeded | obj_successfail | safe}}
            </li>
          {% endfor -%}
          </ol>
          <ol>
          {%- for uppurchase in match.uplink_buys_by_key(antag.key) %}
            <li class = 'uplinkbuy'> {{uppurchase.bundle_path}}</li>
          {%- endfor -%}
          {%- for badass in match.badass_buys_by_key(antag.key) %}
            <li class = 'uplinkbuy'>Badass bundle:</li>
            <ol>
              {%- for item in badass.items -%}
                {{item_path}}
              {%- endfor -%}
          {%- endfor -%}
        </ol>
        </div>
      {% endfor -%}
      </div>
      {% if match.has_template() %}
        {% include "gamemodes/_" + match.modes_string.lower() + ".html"%}
      {% else %}
        {% include "_gamemode.html" %}
      {% endif %}
    </div>
  </div>
{% endblock %}
