{% extends "_base.html" %}
{% from '_helpers.html' import render_pagination %}
{% block content %}

<div id = 'container'>
  {{ render_pagination(pagination, "matchlist") }}
  <div id = 'match-container'>
{%- for match in matches %}
    <div name = 'match-{{match.id}}' class = 'match' data-matchid = '{{match.id}}'>
        <img src='{{modethumb(match.modes_string)}}'/>
    {%- if match.is_mixed() -%}
        <p id ='match-title'>Mixed</p>
    {%- else -%}
        <p id = 'match-title'>{{match.modes_string}}</p>
    {%- endif %}
		<p class = 'bigger-font'>{{match.mapname}}</p>
    <p>{{match.date.strftime('%m/%d/%y')}}
      {%if match.start_datetime%}
      {{match.start_datetime.strftime('%H:%M')}}
    {%endif %}</p>
    <p><strong>Crew Score</strong> {{match.crewscore}}</p>
    <p><strong>Deaths</strong> {{match.player_deaths().count()}}
    </div>
{%- endfor %}
  </div>
  {{ render_pagination(pagination, "matchlist") }}
</div>
{% endblock %}
